<!DOCTYPE html>
<html>
<head>
    <title>User Posts</title>
</head>
<body>

    
    <h1>Posts by {{ user.username }}</h1>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <p>{{ post.post }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image">
                    {% endif %}
                    <p>Created at: {{ post.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts found.</p>
    {% endif %}
</body>
</html>